<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>timer</string>
	<key>CFBundleExecutable</key>
	<string>timer</string>
	<key>CFBundleIconFile</key>
	<string>generated-2c3159802a7d835c8d01613da96bd6cec90069a0375bb0752da40ec7ddaccf98.icns</string>
	<key>CFBundleIdentifier</key>
	<string>timer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>timer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
