html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body {
    text-align: left;
    overflow: auto;
    z-index: 1;
}

header {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
}

button {
    width: 45px;
    height: 45px;
    padding: 0;
    border: none;
    margin: 0;
    background: none;
    cursor: pointer;
    z-index: 1;
}

button img {
    width: 100%;
    height: 100%;
}

button:active {
    filter: brightness(85%);
    transform: scale(0.98);
}

main {
    padding: 50px 30px;
    word-wrap: break-word; 
    word-break: break-word; 
    white-space: pre-wrap;  
    width: 100%; 
    box-sizing: border-box; 
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    margin-top: 2px;
    margin-bottom: 2px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

pre {
    font-family: Arial, sans-serif;
    font-size: 14px;
    white-space: pre-wrap; 
    word-wrap: break-word;  
    line-height: 1.6;     
    margin: 0;    
}

#calendar {
    display: flex;
    gap: 10px;
    margin: 0;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: flex-end;
}

#year-dropdown {
    padding: 3px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 20px;
}

#grass-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(53, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 2px;
    width: 100%; 
    max-width: 100%; 
    box-sizing: border-box;
    border: 1px dashed #c0c0c0;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: visible; 
    justify-items: center;
    box-sizing: border-box;
    z-index: 1;
    padding: 20px 20px 25px 20px;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    transform: translate(10px, -20px);
}

.grass {
    width: 20px; 
    height: 20px; 
    background-color: rgb(220, 244, 182); 
    border: 1px solid #c0c0c0;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    margin: 0px;
    box-sizing: border-box;
}

.grass-row {
    display: flex;
    justify-content: flex-start;
}

.grass:hover {
    opacity: 0.8;
}

.todo-container {
    display: block; /* 또는 grid */
    gap: 10px; /* 요소 간 간격 */
    justify-content: space-around; /* 여백 분배 */
    align-items: flex-start; /* 아이템 높이를 기준으로 정렬 */
    padding: 10px; /* 내부 여백 */
    width: 100%; /* 컨테이너 너비를 기준으로 설정 */
    box-sizing: border-box;
}

#memo-page {
    padding: 10px;
}

#memo-page img {
    display: block; /* 이미지 단독 배치 */
}

#memo-input-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

#memo-input {
    flex: 1;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

#add-memo-btn {
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #4d7460;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#memo-lists {
    display: flex;
    justify-content: space-between;
    gap: 0px;
}

.memo-list {
    border-radius: 5px;
    background-color: #ffffff;
    flex: 1 1 calc(33.33% - 10px);
    max-width: 30%;
    min-width: 150px; 
    padding: 10px;
    border: 1px solid #838383;
    border-radius: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
    max-width: 33%;
}

.memo-list img {
    display: block;
    margin: 0 auto;
}

.memo-item {
    width: 100%; /* 부모 크기에 맞게 설정 */
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    text-align: left;
}

.controls {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.controls button {
    margin-left: 2px;
}

button:disabled {
    cursor: not-allowed;
    border-color: #ccc;
    color: #ccc;
    pointer-events: none; 
}

.delete-btn {
    font-size: 12px;
    font-weight: bold;
}

* {
    -webkit-user-drag: none; 
    user-drag: none;
    user-select: none;  
}